{{define "meta"}}
<meta property="og:type" content="article">
<meta property="og:title" content="{{.Name}}">
<meta property="og:url" content="{{.ObjectURI}}">
<meta property="og:description" content="{{.Excerpt}}">
{{if .IconURL}}<meta property="og:image" content="{{.IconURL}}">{{end}}
<meta name="twitter:card" content="summary">
{{end}}

{{define "content"}}
<article>
  <div class="who">
    {{if .IconURL}}<img src="{{.IconURL}}" alt="">{{end}}
    <span class="name">{{.Name}}</span>
    <span>{{.Handle}}</span>
  </div>
  {{with .InReplyTo}}<div class="reply-to">返信: <a href="{{.}}">{{.}}</a></div>{{end}}
  <div class="body">{{sanitize .Content}}</div>
  <div class="meta">
    <a href="{{.ObjectURI}}">{{datetime .Published}}</a>
    {{if .Authed}}
      <form method="post" action="/u/{{.LocalPart}}/statuses/{{.StatusID}}/delete"
            onsubmit="return confirm('この投稿を削除する。よいか')">
        <button type="submit">削除</button>
      </form>
    {{end}}
  </div>
</article>
{{end}}
